<div class="title_container">
    
    <h1 class="title">Manage Your <span class="title_span">Tasks</span> with Ease</h1>
    <p class="title_desc">
        Welcome to Task Manager - your streamlined solution for organizing tasks efficiently. Whether you're managing daily to-dos, work projects, or personal goals, our user-friendly interface helps you stay on top of your priorities. Add, edit, and track tasks effortlessly, and experience the simplicity of staying organized.
    </p>

    <button class="title_btn"><a style="text-decoration: none; color: white;" routerLink="/Login">Get Started</a></button>

</div>


<div class="feature_container">

    <h2 class="feature_title">Features</h2>
    <div class="feature_card">
        <div class="feature_card_section">
            <h2 class="feature_card_title card_left">Add and Edit Tasks</h2>
            <p class="feature_card_desc">
                Easily create and modify tasks with a user-friendly interface. 
                Add new tasks, set deadlines, and update details as your priorities change.
            </p>

        </div>
        <div class="feature_card_section card_right">
            <!-- <img class="feature_card_img" src="https://img.freepik.com/free-vector/toggle-concept-illustration_114360-8900.jpg?t=st=1724083269~exp=1724086869~hmac=1bf01518a6b4b17efafadc5f0ffc4a06aeafb5b523e4895a5f19cff48c703dae&w=740" alt=""> -->
            <img class="feature_card_img" src="assets/addDelete.png" alt="">
        
            
        </div>
    </div>


    <div class="feature_card">
        <div class="feature_card_section card_right">
            <img class="feature_card_img" src="assets/stack_status.png" alt="">
        
            
        </div>
        <div class="feature_card_section">
            <h2 class="feature_card_title card_left">Track Task Progress</h2>
            <p class="feature_card_desc">
                Keep track of your task status in real-time. 
                Whether it's 'Pending', 'In Progress', or 'Completed', stay updated on your progress 
                and never miss a deadline.
            </p>

        </div>
    </div>

    <div class="feature_card">
        <div class="feature_card_section">
            <h2 class="feature_card_title card_left">Personalized Task Management</h2>
            <p class="feature_card_desc">
                Customize your task management experience to fit your needs. 
                Organize tasks by categories, set reminders, and filter tasks based on status to stay focused and efficient
            </p>

        </div>
        <div class="feature_card_section card_right">
            <!-- <img class="feature_card_img" src="https://img.freepik.com/premium-photo/image-icons-time-delete-dark-black-waves-background_873925-1285471.jpg?w=740" alt=""> -->
            <img class="feature_card_img" src="assets/arrowup.png" alt="">
            
            
        </div>
    </div>


</div>

<div class="footer">
    <p>Designed and Developed
        by <span style="color: var(--primary-color); font-weight: bolder;" > TEAM-4</span></p>
</div>
